<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wytings">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ActivityGraph" />
        <activity android:name=".activity.ActivityMaterialDesign" />
        <activity android:name=".activity.ActivityPeriodicTask" />
        <activity android:name=".activity.ActivityLoader" />
        <activity android:name=".activity.ActivitySystem" />
        <activity android:name=".activity.ActivityWebView" />
        <activity android:name=".activity.ActivityBitmap" />
        <activity android:name=".activity.ActivitySignature" />
        <activity android:name=".activity.ActivityScroll" />
        <activity android:name=".activity.ActivityDrawable" />
        <activity android:name=".activity.ActivityRecyclerView" />
        <activity android:name=".activity.ActivityContext" />

    </application>

</manifest>
